body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #0077b6;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a, .login-btn {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 15px;
  border-radius: 20px;
}
nav a:hover, .login-btn:hover {
  background: white;
  color: #0077b6;
}
section {
  padding: 30px 20px;
  text-align: center;
}
.hero {
  background-color: #caf0f8;
  padding: 40px 20px;
}
.destination-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.destination img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.destination p {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #333;
  text-align: center;
}
form {
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #0077b6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background-color: #023e8a;
}
.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.gallery img:hover {
  transform: scale(1.05);
}
li {
  background-color: white;
  margin: 8px auto;
  padding: 10px;
  width: 60%;
  border-radius: 6px;
}
footer {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
.section {
  padding: 50px 20px;
  text-align: center;
}

.section h1 {
  font-size: 2.2rem;
  color: #0077b6;
  margin-bottom: 20px;
}
